<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Newsletter Signup</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Inscreva-se na nossa Newsletter</h1>
      <form action="/subscribe" method="POST">
        <input type="email" name="email" placeholder="Seu e-mail" required />
        <button type="submit">Inscrever-se</button>
      </form>
    </div>
  </body>
</html>
