<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Sucesso</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Cadastro realizado com sucesso!</h1>
      <div class="footer-links">
        <a href="/">Voltar</a>
        <a href="/list">Ver lista de e-mails</a>
      </div>
    </div>
  </body>
</html>
